<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GitHub Stats</a>
    <div>
      <form class="d-flex" role="search" (submit)="searchForUser($event)">
        <input class="form-control me-2" name="search" type="text" placeholder="Enter your GitHub username" aria-label="Search" [(ngModel)]="username">
        <button class="btn btn-outline-success" type="submit" [disabled]="username.length === 0">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <app-user-profile [profile]="profile" [repos]="repos" *ngIf="!error"></app-user-profile>

  <div class="alert alert-danger mt-3" *ngIf="error" role="alert">
   {{error}}
  </div>
</div>